@charset "UTF-8";

/*
    CORES ESCOLHIDAS:
    lARANJA- #FA781A
    PRETO- #303030
    BRANCO- #FFFFFF
*/
@media screen and (min-width: 768px) and (max-width: 992px){
    html,body{
        background-image: linear-gradient(to top, #303030bb, #FA781A);
    }
    section#position{
        width: 80vw;
        height: 40vh;
    }

    section#foto{
        float:right;
        width:30%;
        height: 100%;
    }

    p.texto{
    font-size: 1.2em;
    }
    section#formlogin{
        float:left;
        width:70%;
    }
}

@media screen and (min-width: 992px){

    html,body{
    background-image: linear-gradient(to top, #303030bb, #FA781A);
    }

    section#position{
        width:80vw;
        height: 40vh;
    }

    section#foto{
        float:right;
        width:30%;
        height: 100%;
    }

    p.texto{
    font-size: 1.2em;
    }
    section#formlogin{
        float:left;
        width:70%;
    }
}
