@charset "UTF-8";

/*
    CORES ESCOLHIDAS:
    lARANJA- #FA781A
    PRETO- #303030
    BRANCO- #FFFFFF
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body, html{
    background-color: #FA781A;
    height: 100vh;
    width: 100vw;
}

main{
    position:relative;
    width:100vw;
    height: 100vh;
    margin:auto;
}

section#position{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width:250px;
    height: 535px;
    background-color: white;
    border:1px solid black;
    border-radius:20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.503);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}


section#foto{
    display:block;
    background-image: url(../imagens/pexels-eosvini-2896034.jpg);
    background-position: bottom center;
    height: 200px;
    background-size: cover;
}

section#formlogin{
    display:block;
    padding:10px;
}

div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 6px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 29px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within{
    background-color: white;
}

h1.login{
    text-align: center;
}

p.texto{
    font-size: 0.8em;
}


form>div.campo{
    background-color:#FA781A;
    display:block;
    width:100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
form>input[type=submit]{
    display:block;
    font-size: 1em;
    width:100%;
    height: 40px;
    background-color: #FA781A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

form>input[type=submit]:hover{
    background-color: #ec6c10;
    font-weight: bolder;
}

form>input[type=button]{
    display:block;
    font-size: 1em;
    width:100%;
    height: 40px;
    background-color: #FA781A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-top:5px;
}

form>input[type=button]:hover{
    background-color: #ec6c10;
    font-weight: bolder;
}